<div class="container-fluid">
  <h1 class="mt-5 text-center">What is StockIT?</h1>
  <hr>
  <div class="d-flex justify justify-content-center mb-5 flex-column mt-5 text-justify pl-5 pr-5">
    <h4 class="mb-5">StockIT is a service with which you can forecast financial economic series. You can choose data of Google,
      Apple, Microsoft or GameStop stock price via Yahoo Finance api and predict stock price from 1 to 4 years
      in advance. Prediction is carried out by <a href="https://facebook.github.io/prophet/">Meta Prophet</a> - a open
      source forecasting procedure implemented in R and Python.</h4>
    <h4 class="mb-5"> For using our service you must register and after that you can log in your account to get access to stock
      forecasting page. On this page you can see stock graphics and interact with them. Also you can look at raw and
      forecast data.</h4>
    <h4>On page "Links" you can find useful info to understand how to analyze financial time series and work with it.</h4>
  </div>
</div>
