<div class="container d-flex flex-column ">

  <div class="list-group mt-5 mb-5">
    <a class="list-group-item list-group-item-action" href="https://www.investopedia.com/terms/t/timeseries.asp">Short article about time series.</a>

    <a class="list-group-item list-group-item-action" href="https://habr.com/ru/post/144405/"> Article on Habr about forecasting financial time series. </a>

    <a class="list-group-item list-group-item-action" href="https://qmro.qmul.ac.uk/xmlui/bitstream/handle/123456789/8576/Mansur_M_PhD_final_120314.pdf?sequence=1">
      Essays on Forecasting Financial and Economic Time Series.</a>

    <a class="list-group-item list-group-item-action"
      href="https://www.researchgate.net/publication/323867492_Forecasting_Economics_and_Financial_Time_Series_ARIMA_vs_LSTM">
      Forecasting Economics and Financial Time Series: ARIMA vs. LSTM.</a>

  </div>
</div>
