<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid ">
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>
  <div class="container-fluid h-auto">
    <footer class="footer">
      <hr style="color: #ee8600; height: 4px">
      <div class="text-center text-light " id="creds">
        <p> Follow on: </p>
        <a style="color: inherit" href="https://github.com/RudeZwloki7">
          <img src="assets/GitHub-Mark/GitHub-Mark/PNG/GitHub-Mark-64px.png" alt="GitHub">
        </a>
      </div>
    </footer>
  </div>
</div>
